*{
    color: white;
    font-family: "Courier New";
    font-size: 14px;
    

}

#poster{
    background-image: url("../../assets/bgImg/rita-peron-2MHiTLcUuAU-unsplash.jpg");
    background-size:cover;
}