#currentCon {
  width: 100vw;
  padding-top: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
}

.display {
  margin: 20px;
  border: 3px double white;
  border-radius: 20px;
  height: 390px;
  width: 390px;
  display: grid;
  grid-template-columns: repeat(6, 65px);
  grid-template-rows: repeat(6, 65px);
}

.icon {
  grid-area: "icon";
  border: 1px solid white;
  border-radius: 20px;
  padding: -2px;
  grid-row: 2/6;
  grid-column: 3/7;
}

.iconImg {
  height: 150px;
  width: auto;
}

.location {
  grid-area: "location";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 1/2;
  grid-column: 3/5;
}

.time {
  grid-area: "time";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 1/2;
  grid-column: 5/7;
}

.currentTemp {
  grid-area: "currentTemp";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 2/3;
  grid-column: 1/3;
}

.max {
  grid-area: "max";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 1/2;
}

.min {
  grid-area: "min";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 2/3;
}

.wind {
  grid-area: "wind";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 4/5;
  grid-column: 1/3;
}

.description {
  grid-area: "discription";
  border: 1px solid white;
  border-radius: 10px;
  grid-row: 5/6;
  grid-column: 1/3;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  margin-top: 20px;
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
}

.inputField {
  height: 38px;
  width: 300px;
  border-style: none;
  background: none;
  background-color: white;
  opacity: 0.5;
  color: black;
}

.inputBtn {
  width: 90px;
  border: none;
  background: none;
  color: white;
  background-color: rgb(88, 130, 132);
  height: 40px;
  cursor: pointer;
}

.inputBtn:hover {
  scale: 1.02;
  border: 2px solid white;
}
