
#fiveDay{
    
    border: 3px solid black;
    border-radius: 20px;
    height: 390px;
    width: 390px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

.day{
    width:75px;
    height:60%;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    

}



.icon1, .maxTemp, .minTemp{
    border:1px solid black;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon1 {
    width: 100%;
}

.maxTemp, .minTemp{
    width:47%;
    
}

