.map{ 
    border: 3px solid black;
    border-radius: 20px;
    height: 390px;
    width: 390px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map { height: 180px; }