*{
    margin:0;
}

p{
    color:yellow;
    background:green;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox{
    margin-top:-10vh;
    height: 10vh;
    width: 20vw;
    text-align: center;
}