.searchBox{
    position: absolute;
    margin-top: 50vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.inputField{
    height: 28px;
    width: 300px;
    border-style: none;
    background: none;
    background-color: black;
    opacity: 0.5;
    color: white;
    ;

}

.inputBtn{
    width: 90px;
    border: none;
    background: none;
    color:white;
    background-color: rgb(88, 130, 132);
    height: 30px;

}